<%- include('../inc/top') %>

    <div class="container-fluid">
        <div class="row bg-secondary-subtle">
            <h1>list category</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
                    <li class="breadcrumb-item"><a href="#">product</a></li>
                    <li class="breadcrumb-item active" aria-current="page">category</li>
                </ol>
            </nav>
        </div>

        <div class="row">
            <div class="col-9 m-auto mt-3">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">name</th>
                            <th scope="col">total</th>
                            <th colspan="2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% list.forEach( (obj, index)=> { %>
                            <tr>
                                <th scope="row">
                                    <%= index +1 %>
                                </th>
                                <td>
                                    <%= obj.name %>
                                </td>
                                <td></td>
                                <td class="text-center d-flex justify-content-around ">
                                    <a href="/sp/category/edit/<%= obj._id %>"
                                        class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                                        <i class="bi bi-pen"></i>
                                    </a>
                                    <a href="/sp/category/delete/<%= obj._id %>"
                                        class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row mt-3">
            <div class="d-flex justify-content-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <%- include('../inc/bottom') %>