<%- include('../inc/top') %>

    <div class="container-fluid">
        <div class="row bg-secondary-subtle">
            <h1>Products</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
                    <li class="breadcrumb-item"><a href="#">product</a></li>
                    <li class="breadcrumb-item active" aria-current="page">product</li>
                </ol>
            </nav>
        </div>

        <form method="get" action="">
            <div class="row g-3 p-3 ">
                <select class="form-select col" name="category" aria-label="Default select example">
                    <option selected>select category</option>
                    <% category.forEach( (obj, index)=> {%>
                        <option value="<%= obj._id %>">
                            <%= obj.name %>
                        </option>
                        <% }); %>
                </select>
                <div class="col">
                    <button type="submit" class="btn btn-secondary"> search</button>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-12">
                <table class="table table-bordered border-dark-subtle table-striped">
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">name</th>
                            <th scope="col">category</th>
                            <th scope="col">price</th>
                            <th scope="col">status</th>
                            <th scope="col">quantity</th>
                            <th scope="col">manufacturer</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% product.forEach( (obj, index)=> {%>
                            <tr>
                                <th scope="row">
                                    <%= index +1 %>
                                </th>
                                <td>
                                    <a class="click-here" href="/sp/product/detail/<%= obj._id %>"> 
                                    <%= obj.name %>
                                    </a>
                                </td>
                                <td id="price">
                                    <%= obj.id_category.name %>
                                </td>
                                <td>
                                    <%= new Intl.NumberFormat('vi-VN', { style: 'currency' , currency: 'VND'
                                        }).format(obj.price) %>
                                </td>
                                <td>
                                    <%= obj.status %>
                                </td>
                                <td>
                                    <%= obj.quantity %>
                                </td>
                                <td>
                                    <%= obj.manufacturer %>
                                </td>
                                <td class="text-center d-flex justify-content-around">
                                    <a href="/sp/product/edit/<%= obj._id %>"
                                        class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                                        <i class="bi bi-pen"></i>
                                    </a>
                                    <a href="#" data-bs-target="#exampleModal"  data-bs-toggle="modal" 
                                    data-bs-whatever="<%= obj._id %>"
                                        class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                   
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row mt-3">
            <div class="d-flex justify-content-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <!-- dialog confirm  -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Delete product?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Do you want delete this product?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="btnDelete" type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <!-- delete hidden form -->
    <form method="post" name="delete-form"></form>
    <script>
        var recipient;
        var deleteForm = document.forms['delete-form']
        const exampleModal = document.getElementById('exampleModal')
        if (exampleModal) {
            exampleModal.addEventListener('show.bs.modal', event => {
                // Button that triggered the modal
                const button = event.relatedTarget
                // Extract info from data-bs-* attributes
                recipient = button.getAttribute('data-bs-whatever')
                // If necessary, you could initiate an Ajax request here
                // and then do the updating in a callback.
                // Update the modal's content.
                const modalBodyInput = exampleModal.querySelector('.modal-body input')

                modalBodyInput.value = recipient
            })
        }

        var btnDelete = document.getElementById('btnDelete');
        btnDelete.onclick = () => {
            deleteForm.action = '/sp/product/delete/' + recipient;
            deleteForm.submit();
        }
    </script>


    <%- include('../inc/bottom') %>